.mtvn-ad-gui {
	background: rgba(33, 33, 33, 0.8);
	color: white;
	position: relative;
	width: 100%;
}
.mtvn-ad-gui * {
	@include reset()
}
.mtvn-ad-gui-container {
	padding: 10px 10px;
	vertical-align: middle;
}
.mtvn-ad-gui-countdown {
	padding: 4px;
	display: inline-block;
}
.mtvn-ad-gui-learn-more {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 10px;
	background-color: #5E5E5E;
	border: 1px solid #909090;
	border-radius: 5px;	
	cursor: pointer;
	padding: 3px;
}
.mtvn-ad-gui-learn-more:hover {
	color: white;
	text-decoration:none;
}
.mtvn-ad-gui-learn-more:visited {
	color: white;
	text-decoration:none;
}
