$thumb-size: 60px;
$large-thumb-size: 80px;
.pjs-controls {
	@include flexbox();
	width: 100%;
	position:absolute;
	bottom: 0;
	left: 0;
	-webkit-user-select: none;
	@include transition($transition);
}
.pjs-controls > * {
 	margin-left: $large-thumb-size/4;
 	margin-right: $large-thumb-size/4;
 	margin-bottom: 10px;
}
.pjs-gui-controls-hidden {
	opacity: 0;
	@include transform(translateY(50px));
}
.pjs-gui-controls-button {
	padding: 10px;
}
.pjs-gui-controls-slider {
	@include flex(1);
	text-align: right;
	position: relative;
	height: $slider-height;
	-webkit-user-select: none;
}
.pjs-gui-controls-slider-item {
	@include absolute();
}
.pjs-gui-current-time {
	@include playhead-text();
	display:inline-block;
}
.pjs-gui-duration {
	@include duration-text();
	display:inline-block;
}
.pjs-gui-controls-slider-progress-container {
	@extend .pjs-gui-controls-slider-item;
	height: $slider-height;
}
.pjs-gui-controls-slider-background {
	height: $slider-height;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	@extend .pjs-gui-controls-slider-item;
}
.pjs-gui-controls-slider-progress {
	@extend .pjs-gui-controls-slider-item;
	background: #1ab7ea;
	height: $slider-height;
	width: 0px;
}
.pjs-gui-controls-slider-buffered {
	background: rgba(255, 255, 255, .3);
	height: $slider-height;
	width: 0px;
	@extend .pjs-gui-controls-slider-item;
}
.pjs-gui-controls-slider-thumb-container {
	-webkit-user-select: none;
	width: 0px;
	height: 0px;
	@extend .pjs-gui-controls-slider-item;
}
.pjs-gui-controls-slider-thumb {
	border-radius: 50%;
	width: $thumb-size;
	height: $thumb-size;
	@include transition($transition);
	margin-left: -($thumb-size/2);
	margin-top: -($thumb-size/2 - $slider-height/3);
	background-color: #D9F2FA;
	border: rgb(179, 179, 179);
	border-style: solid;
	border-width: thin;
}
.pjs-gui-controls-slider-thumb-active {
	@include transform(scale($large-thumb-size/$thumb-size));
}
.pjs-gui-controls-slider-segment-container {
	@extend .pjs-gui-controls-slider-item;
	height: $slider-height;
}
.pjs-gui-controls-slider-segment {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 50%;
	border-radius: 50%;
	@include transform(translateY(-50%));
	background-color: #9B9B9B;
}
