.pjs-gui-center-controls {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include transition($transition);
}

.pjs-gui-center-controls-hidden{
	opacity: 0;
}
