.pjs-controls {
	display: flex;
	height: 30px;
	width: 100%;
	position:absolute;
	bottom: 0;
	left: 0;
	font-size: 1em;
	-webkit-user-select: none;
	@include transition(all .2s ease-out);
}
.pjs-controls-item {
	margin: 10px;
}
.pjs-controls-hidden {
	opacity: 0;
	@include transform(translateY(50px));
}
.pjs-controls-button {
	padding: 10px;
}
.pjs-controls-slider {
	@include flex(1);
	@extend .pjs-controls-item;
	color: #C8C8C8;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	position: relative;
	height: $slider-height;
	-webkit-user-select: none;
}
.pjs-controls-slider-item {
	position: absolute;
	top: 0;
	left: 0;
}
.pjs-controls-slider-time-display {
	text-align: right;
	height: 12px;
	padding-top: 4px;
	padding-bottom: 18px;
}
.pjs-info-current-time {
	@extend .pjs-controls-item;
	color: white;
	display:inline-block;
}
.pjs-info-duration {
	@extend .pjs-controls-item;
	color: #9B9B9B;
	display:inline-block;
}
.pjs-controls-slider-progress-container {
	@extend .pjs-controls-slider-item;
	height: $slider-height;
}
.pjs-controls-slider-background {
	height: $slider-height;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	@extend .pjs-controls-slider-item;
}
.pjs-controls-slider-progress {
	@extend .pjs-controls-slider-item;
	background: #1ab7ea;
	height: $slider-height;
	width: 0px;
}
.pjs-controls-slider-buffered {
	background: rgba(255, 255, 255, .3);
	height: $slider-height;
	width: 0px;
	@extend .pjs-controls-slider-item;
}
.pjs-controls-slider-thumb-container {
	-webkit-user-select: none;
	width: 0px;
	height: 0px;
	@extend .pjs-controls-slider-item;
}
.pjs-controls-slider-thumb {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	@include transition(all .2s ease-out);
	margin-left: -19px;
	margin-top: -25px;
	background-color: #D9F2FA;
	border: rgb(179, 179, 179);
	border-style: solid;
	border-width: thin;
}
.pjs-controls-slider-thumb-active {
	@include transform(scale(1.4));
}
.pjs-controls-slider-segment-container {
	@extend .pjs-controls-slider-item;
	height: $slider-height;
}
.pjs-controls-slider-segment {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 50%;
	border-radius: 50%;
	@include transform(translateY(-50%));
	background-color: #9B9B9B;
}
