.pjs-controls {
	display: flex;
	height: 30px;
	width: 100%;
	position:absolute;
	bottom: 0;
	left: 0;
	-webkit-user-select: none;
}
.pjs-controls-item {
	margin: 10px;
}
.mtvn-controls-hidden {
	opacity: 0;
}
.pjs-controls-button {
	padding: 10px;
}
.pjs-controls-play:before {
	@include image-with-dims-psuedo(play);
}
.mtvn-controls-is-live:before {
	@include image-with-dims-psuedo(live);
}
.pjs-controls-rewind:before {
	@include image-with-dims-psuedo(rewind30);
}
.mtvn-controls-go-live:before {
	@include image-with-dims-psuedo(golive);
	cursor: pointer;
}
.pjs-controls-pause:before {
	@include image-with-dims-psuedo(pause);
}
.pjs-controls-fullscreen:before {
	@include image-with-dims-psuedo(fullscreen);
}
.mtvn-controls-mute:before {
	@include image-with-dims-psuedo(mute);
}
.mtvn-controls-unmute:before {
	@include image-with-dims-psuedo(unmute);
}
.mtvn-controls-cc:before {
	@include image-with-dims-psuedo(cc);
}
.mtvn-controls-slider {
	@include flex(1);
	@extend .pjs-controls-item;
	color: #C8C8C8;
	font-family: San Francisco, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	position: relative;
	height: $slider-height;
	-webkit-user-select: none;
}
.pjs-controls-slider-item {
	position: absolute;
	top: 0;
	left: 0;
}
.mtvn-controls-slider-time-display {
	text-align: right;
	height: 12px;
	padding-top: 4px;
	padding-bottom: 18px;
}
.pjs-info-current-time {
	@extend .pjs-controls-item;
	color: white;
	display:inline-block;
}
.pjs-info-duration {
	@extend .pjs-controls-item;
	color: white;
	display:inline-block;
}
.mtvn-controls-slider-progress-container {
	@extend .pjs-controls-slider-item;
	height: $slider-height;
}
.mtvn-controls-slider-background {
	height: $slider-height;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	@extend .pjs-controls-slider-item;
}
.mtvn-controls-slider-progress {
	@extend .pjs-controls-slider-item;
	background: #1ab7ea;
	height: $slider-height;
	width: 0px;
}
.mtvn-controls-slider-buffered {
	background: rgba(255, 255, 255, .3);
	height: $slider-height;
	width: 0px;
	@extend .pjs-controls-slider-item;
}
.mtvn-controls-slider-thumb-container {
	-webkit-user-select: none;
	width: 0px;
	height: 0px;
	@extend .pjs-controls-slider-item;
}
.mtvn-controls-slider-thumb {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	@include transition(all .2s ease-out);
	margin-left: -19px;
	margin-top: -25px;
	background-color: #D9F2FA;
	border: rgb(179, 179, 179);
	border-style: solid;
	border-width: thin;
}
.mtvn-controls-slider-thumb-active {
	@include transform(scale(1.4));
}
.mtvn-controls-slider-segment-container {
	@extend .pjs-controls-slider-item;
	height: $slider-height;
}
.mtvn-controls-slider-segment {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 50%;
	@include transform(translateY(-50%));
	border-radius: 50%;
	background-color: #9B9B9B;
}
.mtvn-controls-slider-tool-tip-background {
	@include image-with-dims(toolTip);
	margin-left: -37px;
}
.mtvn-controls-slider-tool-tip-container {
	margin-top: -62px;
	height: 60px;
	padding-bottom: 1px;
}
.mtvn-controls-slider-tool-tip-time {
	width: 78px;
	margin-top: -45px;
	margin-left: -37px;
	font-size: 14px;
	text-align: center;
}
