@mixin image-with-dims($name) {
	@include images-sprite($name);
	width: images-sprite-width($name);
	height: images-sprite-height($name);
	content: "";
	display: inline-block;
}
@mixin reset() {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
}
@mixin transition($values) {
	-webkit-transition: $values;
	-moz-transition: $values;
	-o-transition: $values;
	transition: $values;
}
@mixin transform($values) {
	-webkit-transform: $values;
	-moz-transform: $values;
	-o-transform: $values;
	transform: $values;
}
@mixin absolute(){
	position: absolute;
	top: 0;
	left: 0;
}
