@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@mixin base-text {
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
}

@mixin metadata-text {
	font-size: 22px;
	font-weight: bold;
} 

@mixin ad-text {
	font-size: 14px;
	font-weight: bold;
} 

@mixin playhead-text {
	color: #C8C8C8;
}

@mixin duration-text {
	color: #C8C8C8;
}
	
