$top-item-margin: 20px;
.pjs-gui-top {
	@include absolute();
	width: 100%;
	@include transition($transition);
}
.pjs-gui-top-container {
 	margin: 15px $top-item-margin;
}
.pjs-gui-top-container > * {
 	margin: 0px $top-item-margin;
}
.pjs-gui-top-container > :first-child{ 
	margin-left: 0; 
}
.pjs-gui-top-container > :last-child{ 
	margin-right: 0;
}
.pjs-gui-top-metadata {
	@include flex(1);
	@include metadata-text();
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
