.pjs-gui-top {
	position: absolute;
	width: 100%;
	@include transition($transition);
}
.pjs-gui-top-container {
 	margin: 15px 20px;
}
.pjs-gui-top-metadata {
	@include flex(1);
	@include metadata-title();
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pjs-gui-top-hidden {
	@include transform(translateY(-60px));
}
