@import "images/*.png";
@mixin image-with-dims($name)	{
	@include images-sprite($name);
	width:images-sprite-width($name);
	height:images-sprite-height($name);
}
.mtvn-controls {
	width:100%;
	display:-webkit-box;
	background-color:rgba(33, 33, 33, 0.8);
	height:50px;
	-webkit-user-select:none;
	-webkit-transform:translate3d(0,0,0);
}

.mtvn-controls-button{
	margin:10px;
	margin-top:13px;
}

.mtvn-controls-play {
	@include image-with-dims(play);
}

.mtvn-controls-pause {
	@include image-with-dims(pause);
}

.mtvn-controls-fullscreen {
	@include image-with-dims(fullscreen);
}

.mtvn-controls-mute {
	@include image-with-dims(mute);
}

.mtvn-controls-unmute {
	@include image-with-dims(unmute);
}

.mtvn-controls-cc {
	@include image-with-dims(cc);
}

.mtvn-controls-slider {
	-webkit-box-flex:1;
	margin-top: 2px;
	margin-right: 10px;
	margin-left:10px;
	color: #C8C8C8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	-webkit-user-select: none;
}

.mtvn-controls-slider-time-display{
	text-align: right;
	height: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.mtvn-controls-slider-current-time{
	color:white;
}

.mtvn-controls-slider-progress-container{
	position:relative;
	height:6px;
}

.mtvn-controls-slider-background{
	height:1px;
	background: rgba(90, 90, 90, 1);
	margin-top:-1px;
}

.mtvn-controls-slider-progress {
	background: rgba(21, 91, 104, 1);
	height: 6px;
	width:0px;
	top:0px;
	position: absolute;
	margin-top:-1px;
}

.mtvn-controls-slider-buffered {
	background: rgba(255,255,255,.3);
	height: 6px;
	width:0px;
	top:0px;
	position: absolute;
	margin-top:-1px;
}

.mtvn-controls-slider-thumb-container{
	-webkit-user-select: none;
	width:0px;height:0px;
	position: relative; // changed
	margin-top:-1px;
}

.mtvn-controls-slider-thumb {
	@include image-with-dims(thumb);
	margin-left:-19px;
	margin-top:-9px;
}
.mtvn-controls-slider-segment-container {
	display:none;
}
.mtvn-controls-slider-segment {
	@include image-with-dims(divider);
}

.mtvn-controls-slider-tool-tip-background{
	@include image-with-dims(toolTip);
	margin-left:-37px;
}
.mtvn-controls-slider-tool-tip-container{
	margin-top:-62px;
	height:60px;
	padding-bottom:1px;
}
.mtvn-controls-slider-tool-tip-time{
	width:78px;
	margin-top:-45px;
	margin-left:-37px;
	font-size:14px;
	text-align:center;
}
.mtvn-controls-slider-thumb-active {
	@include image-with-dims(thumb-active);
	margin-left:-19px;
	margin-top:-9px;
}

.mtvn-ad-gui {
  background: rgba(33, 33, 33, 0.8);
  color:white;
  position:relative;
  width:100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

.mtvn-ad-gui * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
}

.mtvn-ad-gui-container {
  padding: 10px 10px;
  vertical-align:middle;
}

.mtvn-ad-gui-countdown {
  padding:4px;
  display:inline-block;
}

.mtvn-ad-gui-learn-more {
  color:white;
  text-decoration:none;
  position:absolute;
  right:10px;
  background-color: #5E5E5E;
  border: 1px solid #909090;
  border-radius: 5px;
  cursor: pointer;
  padding:3px;
}