@import "images/*.png";
$slider-height: 20px;
$info-item-margin: 0 30px 0 30px;
@mixin image-with-dims($name) {
	@include images-sprite($name);
	width: images-sprite-width($name);
	height: images-sprite-height($name);
	content: "";
	display: inline-block;
}
@mixin image-with-dims-psuedo($name) {
	@include image-with-dims($name);
	content: "";
	display: inline-block;
}
@mixin reset() {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	line-height: 1em;
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}
@mixin transition($values) {
	-webkit-transition: $values;
	-moz-transition: $values;
	-o-transition: $values;
	transition: $values;
}
@mixin transform($values) {
	-webkit-transform: $values;
	-moz-transform: $values;
	-o-transform: $values;
	transform: $values;
}
.pjs-controls {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-user-select: none;
	opacity: 1;
	@include transition(opacity .2s ease-in);
}
.pjs-controls-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}
.mtvn-controls-hidden {
	opacity: 0;
}
.pjs-controls-button {
	padding: 10px;
}
.pjs-controls-play:before {
	@include image-with-dims-psuedo(play);
}
.mtvn-controls-is-live:before {
	@include image-with-dims-psuedo(live);
}
.pjs-controls-rewind:before {
	@include image-with-dims-psuedo(rewind30);
}
.mtvn-controls-go-live:before {
	@include image-with-dims-psuedo(golive);
	cursor: pointer;
}
.pjs-controls-pause:before {
	@include image-with-dims-psuedo(pause);
}
.pjs-controls-fullscreen:before {
	@include image-with-dims-psuedo(fullscreen);
}
.mtvn-controls-mute:before {
	@include image-with-dims-psuedo(mute);
}
.mtvn-controls-unmute:before {
	@include image-with-dims-psuedo(unmute);
}
.mtvn-controls-cc:before {
	@include image-with-dims-psuedo(cc);
}
.mtvn-controls-slider {
	color: #C8C8C8;
	font-family: San Francisco, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	height: $slider-height;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	-webkit-user-select: none;
}
.mtvn-controls-slider-time-display {
	text-align: right;
	height: 12px;
	padding-top: 4px;
	padding-bottom: 18px;
}
.pjs-info-current-time {
	color: white;
}
.mtvn-controls-slider-progress-container {
	position: relative;
	height: $slider-height;
}
.mtvn-controls-slider-background {
	height: $slider-height;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
}
.mtvn-controls-slider-progress {
	background: #1ab7ea;
	height: $slider-height;
	width: 0px;
	top: 0px;
	position: absolute;
}
.mtvn-controls-slider-buffered {
	background: rgba(255, 255, 255, .3);
	height: $slider-height;
	width: 0px;
	top: 0px;
	position: absolute;
}
.mtvn-controls-slider-thumb-container {
	-webkit-user-select: none;
	width: 0px;
	height: 0px;
	position: absolute;
}
.mtvn-controls-slider-thumb {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	@include transition(all .2s ease-out);
	margin-left: -19px;
	margin-top: -25px;
	background-color: #D9F2FA;
	border: rgb(179, 179, 179);
	border-style: solid;
	border-width: thin;
}
.mtvn-controls-slider-thumb-active {
	@include transform(scale(1.4));
}
.mtvn-controls-slider-segment-container {
	position: absolute;
	height: $slider-height;
	top: 0;
}
.mtvn-controls-slider-segment {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 50%;
	@include transform(translateY(-50%));
	border-radius: 50%;
	background-color: #9B9B9B;
}
.mtvn-controls-slider-tool-tip-background {
	@include image-with-dims(toolTip);
	margin-left: -37px;
}
.mtvn-controls-slider-tool-tip-container {
	margin-top: -62px;
	height: 60px;
	padding-bottom: 1px;
}
.mtvn-controls-slider-tool-tip-time {
	width: 78px;
	margin-top: -45px;
	margin-left: -37px;
	font-size: 14px;
	text-align: center;
}
.mtvn-ad-gui {
	background: rgba(33, 33, 33, 0.8);
	color: white;
	position: relative;
	width: 100%;
}
.mtvn-ad-gui * {
	@include reset()
}
.mtvn-ad-gui-container {
	padding: 10px 10px;
	vertical-align: middle;
}
.mtvn-ad-gui-countdown {
	padding: 4px;
	display: inline-block;
}
.mtvn-ad-gui-learn-more {
	color: white;
	text-decoration: none;
	position: absolute;
	right: 10px;
	background-color: #5E5E5E;
	border: 1px solid #909090;
	border-radius: 5px;	
	cursor: pointer;
	padding: 3px;
}
.mtvn-ad-gui-learn-more:hover {
	color: white;
	text-decoration:none;
}
.mtvn-ad-gui-learn-more:visited {
	color: white;
	text-decoration:none;
}
.mtvn-controls-volume {
	position: relative;
}
.mtvn-controls-volume-slider-foreground:before {
	position: absolute;
	left: 5px;
	top: -55px;
	display: block;
	height: 55px;
	width: 4px;
	background: #757575;
	content: ''
}
.mtvn-controls-volume-slider-foreground:after {
	position: absolute;
	left: 5px;
	display: block;
	height: 55px;
	width: 4px;
	content: '';
	background: #005469;
	top: 5px
}
.mtvn-controls-volume-slider-foreground {
	background: #ddd;
	content: '';
	height: 5px;
	left: 4px;
	position: absolute;
	width: 14px;
}
.mtvn-controls-volume-slider {
	position: relative;
	display: block;
	width: 22px;
	height: 60px;
	left: 5px;
	cursor: pointer;
	overflow: hidden;
}
.mtvn-controls-volume-slider-container-outer {
	position: absolute;
	top: -78px;
	width: 33px;
	left: -5px;
	overflow: hidden;
}
.mtvn-controls-volume-slider-container {
	background: rgba(33, 33, 33, 0.8);
	padding-top: 5px;
	@include transition(all .2s ease-in);
	@include transform(translateY(65px));
}
.mtvn-controls-volume-slider-container-over {
	@include transform(translateY(0));
}
.pjs-info {
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	@include reset()
}
.pjs-info-container {
 	padding: 8px 10px;
}
.pjs-tp-flexbox {
	@include flexbox();
}
.pjs-controls-share {
	@include image-with-dims(share);
	margin: $info-item-margin;
}
.pjs-info-share-item {
	display: inline-block;
}
.pjs-info-metadata {
	@include flex(1);
	height: 23px;
	line-height: 23px;
	font-family: San Francisco, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 3px black;
}
.pjs-info-panel-hidden {
	@include transform(translateY(-50px));
}
.pjs-info-facebook {
	@include image-with-dims(facebook);
}
.pjs-info-twitter {
	@include image-with-dims(twitter);
}
.pjs-info-email {
	@include image-with-dims(email);
}
